In [ ]:
print("enter a no")
x=input()
print("the no is", x)

In [ ]:
hr=int(input("enter hr"))
rate=int(input("enter rate"))
pay=hr*rate
#float(pay)
print("Pay", float(pay))

In [ ]:
print("enter a no")
x=input()
y=input()

print("the no is", x+y)

#sclicing

In [ ]:
string="thisismanisha"
print(string[0:10])

In [ ]:
string="thisismanisha"
print(string[4:])
print(string[6:2])
print(string[-4:-2])

In [ ]:
string="0123456789"
print(string[2::2])
print(string[2::4])
print(string[2:8:3])
print(string[::-1]) #reverse
print(string[4:9:2])

In [ ]:
string="thisismanisha"
print(string.upper())

In [ ]:
string="thisismanisha3"
print(string.isalnum())

In [ ]:
list1=[123,3254,"fghjh",23.4]
list1.append("swfr")
list1.insert(3,"sfvvv")
list1[2]="manisha"
print(list1[3])
print(list1)

In [ ]:
list1=[123,3254,"fghjh",23.4,[234,4,5,2]]
list1.clear()
print(list1)

#dictionary

In [ ]:
mydictionary={
    "name":"Manisha",
    "Class":"MCA",
    2:"435",
    2:"ert"    
}
my={
    "date":"1/12/22",
    "month":12,
    "year":2022,
    2:34654
}
print(mydictionary[2])
print(my[2])
my[5]="messi"
print(my)

In [ ]:
x=(2,3,'c',43)
print(x)
x[3]
print(x[1])

In [ ]:
print(x[1])

In [ ]:
x=100
y=40
if x>=y:
    print("X is greater")
    print("Thank u")
elif y<=x:
    print("Y is greater")
else:
    print("both are equal")

In [ ]:
x=1
while x<=5:
    print("Hello")
    x+=1

In [ ]:
i=0
while i<=5:
    print("something")
    i+=1